.form545group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form545group ~ ul {
  padding-left: 0;
}

.form545group li {
  list-style-type: none;
  margin: 15px auto;
  width: 350px;
}
