.rc901container {
  padding-top: 62px;
  width: 80vw;
  margin: auto;
}

.rc901model {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
